﻿<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style type="text/css">
        * {
            margin: 0;
            padding: 0
        }

        table, td, th {
            border: 0
        }
    </style>
</head>
<body>
    <table cellpadding="0" cellspacing="0" style="width:600px;margin:auto;border:1px solid #eee;font-family:arial"><tbody><tr><td><table style="width:100%;margin:auto;background:#3c6fb6;padding:15px 0;text-align:center;font-family:arial"><tbody><tr><td><h1 style="color:#fff">{{company-name}}</h1></td></tr></tbody></table></td></tr><tr><td><table style="width:95%;margin:auto;background:#fff;padding:35px 0;text-align:center;font-family:Arial"><tbody><tr><td><h1 style="font-size:30px;font-family:Arial;color:#000;line-height:1.2">Account Locked</h1></td></tr><tr><td><table style="width:80%;margin:auto;padding-top:25px;color:#3c3c3c;padding-bottom:25px;line-height:1.5"><tbody><tr><td style="font-size:16px;font-family:arial;color:#3c3c3c;line-height:1.5;text-align:center"><p>&nbsp;</p><h3 style="text-align:left">Hello {{FIRSTNAME}},</h3><p>&nbsp;</p><p style="text-align:left">Seems like you have entered incorrect password for more then {{invalid_attempt}} times, hence your account is locked.</p><p style="text-align:left">Please contact system administrator to unlock you account.</p><p>&nbsp;</p></td></tr></tbody></table></td></tr><tr><td style="padding-bottom:55px"><table style="width:276px;margin:auto;background:#3c6fb6"><tbody></tbody></table></td></tr><tr><td style="line-height:1.5"><p>{{company-name}} Team</p></td></tr></tbody></table></td></tr><tr><td style="padding:10px;background-color:#3c6fb6"><table style="width:100%"><tbody><tr><td style="text-align:center;color:#fff;font-weight:400">&copy; {{company-name}}. All Rights Reserved</td></tr></tbody></table></td></tr></tbody></table>
</body>
</html>s