<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">{{company-name}}</a>
     ﻿<p>Dear {{username}},</p><p>We want to inform you that your account has been deactivated as it was inactive for more than 90 days: </p>

<p>If you want to activate your account again to avail the services provided by us please contact the administrator</p>

<p>Thank you for using our service.</p>

<p>Best regards!,</p>
<p>{{sendername}}</p>


    </div>
</div>
