<div style="font-family: Helvetica, Arial, sans-serif; min-width: 1000px; overflow: auto; line-height: 2">
    <div style="margin: 50px auto; width: 70%; padding: 20px 0">
        <div style="border-bottom: 1px solid #eee">
            <a href="" style="font-size: 1.4em; color: #00466a; text-decoration: none; font-weight: 600">{{company-name}}</a></div> ﻿<p>Dear {{username}},</p>
<p>We received a request to reset the password for your account. To complete the process, please follow the link below: </p>

<p><a href="{{link}}" style="text-decoration: none;">Reset Password</a></p>


<p>If you did not make this request, please disregard this email and your password will remain unchanged. If you believe someone else may have accessed your account, please contact us immediately.</p>

<p>Thank you for using our service.</p>

<p>Best regards,</p>
<p>{{sendername}}</p>

</div>
</div>
