<div style="font-family: Helvetica, Arial, sans-serif; min-width: 1000px; overflow: auto; line-height: 2">
    <div style="margin: 50px auto; width: 70%; padding: 20px 0">
        <div style="border-bottom: 1px solid #eee">
            <a href="" style="font-size: 1.4em; color: #00466a; text-decoration: none; font-weight: 600">{{company-name}}</a>
        </div>
  <p>Dear {{username}},</p>



<p>We are providing you with a One Time Password (OTP) to enable you to complete a particular action on our platform. Your OTP is {{otp}}.</p>



<p>Please note that this OTP is valid for a limited time period only and should be used for the specific action you intend to perform. Once the OTP expires, you will need to request a new one.</p>



<p>If you did not request this OTP or suspect any unauthorized activity on your account, please contact us immediately at {{adminemail}}.</p>


<p>Thank you for your cooperation.</p>

<p>Best regards,</p>
<p>{{sendername}}</p>


</div>
</div>
