<div style="font-family: Helvetica, Arial, sans-serif; min-width: 1000px; overflow: auto; line-height: 2">
    <div style="margin: 50px auto; width: 70%; padding: 20px 0">
        <div style="border-bottom: 1px solid #eee">
            <a href="" style="font-size: 1.4em; color: #00466a; text-decoration: none; font-weight: 600">{{company-name}}</a>
        </div>
   Dear {{username}},</p>



<p>We are writing to confirm that your password has been successfully changed. Your account is now secure with the new password..</p>



<p>If you did not initiate this change, please contact us immediately at {{adminemail}} to report any unauthorized activity on your account.</p>



<p>For future reference, please remember to choose a strong and unique password and to update it regularly to ensure the security of your account.</p>

<p>Thank you for using our platform. If you have any questions or concerns, please feel free to contact us at {{adminemail}}.</p>


<p>Thank you for your cooperation.</p>



<p>Best regards,</p>
<p>{{sendername}}</p>

</div>
</div>