<div style="font-family: Helvetica, Arial, sans-serif; min-width: 1000px; overflow: auto; line-height: 2">
    <div style="margin: 50px auto; width: 70%; padding: 20px 0">
        <div style="border-bottom: 1px solid #eee">
            <a href="" style="font-size: 1.4em; color: #00466a; text-decoration: none; font-weight: 600">{{company-name}}</a>
        </div>
        <p>Dear {{username}},</p>

        <p>We are writing to confirm that your password has been successfully updated. This change was made to ensure the security and integrity of your account.</p>

        <p>If you initiated this password reset, then there is no further action required on your part. However, if you did not make this change, please contact us immediately at {{adminemail}}.</p>

        <p>Please be reminded that your password should be strong and not easily guessable. We recommend using a combination of upper and lower case letters, numbers, and symbols.</p>

        <p>If you have any questions or encounter any issues, please do not hesitate to contact us at {{adminemail}}.</p>

        <p>Thank you for your cooperation.</p>

        <p>Best regards,</p>
        <p>{{sendername}}</p>
    </div>
</div>
